.crew_full{
    margin-top: 20px;
    padding: 60px;
    padding-bottom: 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    .auxText{
        min-width: 100%
    }
    .crew_title span{
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 19px;
        letter-spacing: 2.7px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.25;
    }
    & h2 {
        margin-bottom: 70px;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 19px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .crew_buttonsCont{
        display: flex;
        flex-direction: row;
        gap: 35px;
        margin: 30px auto;
        justify-content: center;
    }
    .crew_position{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .crew_people{
        max-width: 510px;
        display: flex;
        justify-content: center;
    }
    .card_line{
       display: none;
    }
    .crew_button{
        & button{
            mix-blend-mode: normal;
            opacity: 0.17;
            display: block;
            background: #FFFFFF;
            border: #0000;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }
    .crew_button.active button{
        opacity: 1;
    }
    .crew_showCard{
        max-width: 50%;
    }
    .crew_cardCont{
        display: flex;
        flex-direction: column;
        & h5{
            font-family: 'Bellefair';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 18px;
            margin: 10px 0;
            text-align: justify;
            text-transform: uppercase;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
        }
        .card_cont{
            display: flex;
            flex-direction: column;

        }
        .card_title{
            font-family: 'Bellefair';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 28px;
            text-align: justify;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .card_description{
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            text-align: justify;
            color: #D0D6F9;
        }
    }
}
.crew_tablet{
    margin-top: 20px;
    padding: 60px;
    padding-bottom: 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    .auxText{
        min-width: 105%
    }
    .crew_title span{
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 19px;
        letter-spacing: 2.7px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.25;
    }
    & h2 {
        margin-bottom: 70px;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 19px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .crew_buttonsCont{
        display: flex;
        flex-direction: row;
        gap: 35px;
        margin: 30px auto;
        justify-content: center;
    }
    .crew_position{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .crew_people{
        max-width: 475px;
        display: flex;
        justify-content: center;
    }
    .card_line{
       display: none;
    }
    .crew_button{
        & button{
            mix-blend-mode: normal;
            opacity: 0.17;
            display: block;
            background: #FFFFFF;
            border: #0000;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }
    .crew_button.active button{
        opacity: 1;
    }
    .crew_cardCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        & h5{
            font-family: 'Bellefair';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 18px;
            margin: 10px 0;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
        }
        .card_cont{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .card_title{
            font-family: 'Bellefair';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .card_description{
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            text-align: center;
            color: #D0D6F9;
        }
    }
}
.crew_mobile{
    margin-top: 20px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .crew_title span{
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 19px;
        letter-spacing: 2.7px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.25;
    }
    & h2 {
        margin-bottom: 70px;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 19px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .crew_position{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .crew_showCard{
        display: flex;
        flex-direction: column-reverse;
    }
    .crew_buttonsCont{
        display: flex;
        flex-direction: row;
        gap: 35px;
        margin: 30px auto;
    }
    .crew_people{
        max-width: 275px;
    }
    .card_line{
       display: none;
    }
    .crew_button{
        & button{
            mix-blend-mode: normal;
            opacity: 0.17;
            display: block;
            background: #FFFFFF;
            border: #0000;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    .crew_button.active button{
        opacity: 1;
    }
    .crew_cardCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        & h5{
            font-family: 'Bellefair';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 18px;
            margin: 10px 0;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
        }
        .card_cont{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .card_title{
            font-family: 'Bellefair';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .card_description{
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 30px;
            text-align: center;
            color: #D0D6F9;
        }
    }
}
