.header_full{
    display: flex;
    flex-direction: row;
    margin :0 30px;
    padding: 20px 0;
    justify-content: space-between;
}

.line{
    display: flex;
    padding-left: 85px;
    align-items: center;
    margin-top: 35px;
    min-width: 1000px;
}
.star{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px;
    padding-left: 35px;
}