:root {
  --main-color-one  : #AD1AC7;
  --main-color-dark : #480095;
  --secondary-color : #FF943F;
  --tertiary-color  : #FA2080;
  --dark-color      : #1D2734;
  --light-background: #E7EDF9;
  --itg-gradient    : linear-gradient(90deg, #AD1AC7 0.22%, #FA2080 43.67%, #FF943F 96.47%);
}

html {
  font-size: 0.625rem;
}

body {
  font-size  : 1.4rem;
  font-family: 'Montserrat', sans-serif;
  margin     : 0;
  padding    : 0;
}